[user]
    name = Alexoner
    email = onerhao@gmail.com
;[http]
	;proxy = socks5://127.0.0.1:1080
;[https]
	;proxy = socks5://127.0.0.1:1080
[gui]
    recentrepo = /Users/Alex/Documents/mine/skynet
[push]
    default = matching
[filter "lfs"]
    smudge = git-lfs smudge -- %f
    required = true
    clean = git-lfs clean -- %f
[core]
    autocrlf = false
	excludesfile = /Users/Alex/.gitignore
[lfs]
    batch = true
    concurrenttransfers = 128

[help]

    # Automatically correct and execute mistyped commands
    autocorrect = 1
[status]
	showUntrackedFiles = no
