[user]
	name = Alexoner
	email = onerhao@gmail.com
;[http]
    ;proxy = socks5://127.0.0.1:1081
;[https]
    ;proxy = socks5://127.0.0.1:1081
[gui]
	recentrepo = /Users/Alex/Documents/mine/learningAI
[push]
	default = matching
